*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body{
    background-color: goldenrod;
}

header{
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    height: 800px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    font-family: 'Roboto', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    letter-spacing: 1px;
    font-size: 30;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 1px;
}

footer{
    background: black;
    color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}