body{
    background-color: goldenrod;
}



ul{
    margin: auto;
    align-self: center;
    display: inline-flex;
}

figcaption{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

section img{
    border-radius: 20px;
    width: 500px;
}

p{
    color: black;
}

header{
    background-image: url("img");
    background-color: black;
    height: 200px;
    text-align: center;
    text-decoration: none;
}

header .logo b {
    background-image: url();
    background-size: 400px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 420px;
    text-indent: -999999px;
    height: 300px;
}

section{
    background-color:rgb(197, 148, 23);
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .Nav{
    text-align: center;
}

.Nav li{
    color: blanchedalmond;
}

.Nav a{
    text-align: center;
}

li{
    font-size: 25;
    color: w;
    list-style: none;
}

head{
    color: blanchedalmond;
}

li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25;
    
}

